{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Clients {% endblock %}

{% block premain %}
<!-- Modal for deletion warnings used for slave and program deletion-->
<div id="deleteWarning" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletion Warning!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-info' id='deleteSlaveModalButton'>OK</button>
                <button type='button' class='btn btn-info' id='deleteProgramModalButton'>OK</button>
                <button type='reset' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>

{% modal_form program_form "program" %}
{% modal_form slave_form "slave" %}
{% modal_form file_form "file" %}
{% endblock %}

{% block content %}
<div class="row ml-4 mr-4">
    <div class="col col-xs-12 col-sm-12 col-md-3 col-xl-2 col-lg-3">
        <div class="row-2 form-group" >
            <label class="client-header font-weight-bold">
                CLIENTS
                <button type="button" class="btn slave-action-add inline-add-button">
                    <i class="mdi mdi-plus font-weight-bold"></i>
                </button>
            </label>
        </div>

        <div class="row-2">
            <ul class="nav flex-column col" id="slaveTabList" role="tablist">
                {% for slave in slaves %}
                    <li class="nav-item mb-2 pt-2 pb-2 pr-4 pl-4 font-weight-bold fsim-box" data-state="{% if slave.has_error %}error{% elif slave.has_running %}warning{% elif slave.is_online %}success{% else %}unkown{% endif %}" id="slaveTab{{ slave.id }}">
                        <a class="nav-link slave-tab-link {% if forloop.first %} active {% endif %}" data-toggle="tab" href="#slaveTabContent{{ slave.id }}" role="tab" data-slave-id="{{ slave.id }}">
                            <i class="fsim-slave-status-icon"></i> {{ slave.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="container-fluid tab-content col col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-10">
        {% for slave in slaves %}
            <div class="tab-pane fade show {% if forloop.first %}active{% endif %}" id="slaveTabContent{{ slave.id }}" role="tabpanel">
                {% slave_entry slave slave.program_set.all slave.file_set.all %}
            </div>
        {% empty %}
            <div>
                <span class="background-text-large">No clients registered</span>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'frontend/slaves.js'%}"></script>
{% endblock %}
