{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Clients {% endblock %}

{% block premain %}
<!-- Modal for deletion warnings used for slave and program deletion-->
<div id="deleteWarning" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletion Warning!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body bg-light">
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-danger' id='deleteSlaveModalButton'>Delete</button>
                <button type='button' class='btn btn-danger' id='deleteProgramModalButton'>Delete</button>
                <button type='button' class='btn btn-danger' id='deleteFilesystemModalButton'>Delete</button>
                <button type='reset' class='btn btn-secondary' data-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal for unsaved changes warnings-->
<div id="unsafedChangesWarning" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Unsaved changes</h4>
                <button type="button" class="close keepParentModal">&times;</button>
            </div>
            <div class="modal-body bg-light">
            You have unsaved changes!
            <br>
            Changes you made may not be saved.
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-danger' data-dismiss='modal'>Leave</button>
                <button type='button' class='btn btn-secondary keepParentModal'>Stay</button>
            </div>
        </div>
    </div>
</div>

{% modal_form program_form "program" %}
{% modal_form slave_form "slave" %}
{% modal_form file_form "filesystem" %}
{% endblock %}

{% block content %}
<!-- List of Slaves/Clients on the left -->
<div class="row mr-1 ml-1">
    <div class="col-12 col-sm-12 col-md-4 col-xl-3 col-lg-4 mb-4">
        <div class="list-group rounded shadow" id="slaveTabList" role="tablist">
            <a class="d-flex justify-content-between align-items-center list-group-item font-weight-bold bg-light" >
                <label><font size="4">CLIENTS</font></label>
                <button type="button" class="btn slave-action-add bg-dark text-light ">
                    <i class="mdi mdi-server-plus"></i>
                </button>
            </a>
            {% for slave in slaves %}
            <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action font-weight-bold slave-tab-link {% if forloop.first %} active {% endif %}
            bg-light"
            data-state="{% if slave.has_error %}error{% elif slave.has_running %}warning{% elif slave.is_online %}success{% else %}unknown{% endif %}"
            id="slaveTab{{ slave.id }}" data-toggle="tab" href="#slaveTabContent{{ slave.id }}" data-slave-id="{{ slave.id }}">
                <i class="mdi mdi-desktop-classic"></i> {{ slave.name }}
                <span class="badge badge-dark badge-pill"><i class="mdi mdi-run"></i>{{ slave.id }} <i class="mdi mdi-alert"></i>{{ slave.id }}</span>
            </a>
            {% endfor %}
        </div>
    </div>

    <div class="container-fluid tab-content col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 ">
        {% for slave in slaves %}
        <div class="shadow rounded tab-pane fade show {% if forloop.first %}active{% endif %}" id="slaveTabContent{{ slave.id }}" role="tabpanel">
            {% slave_entry slave slave.program_set.all slave.filesystem_set.all %}
        </div>
        {% empty %}
        <div>
            <span class="background-text-large">No clients registered</span>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block script %}
    <script src="{% static 'frontend/ansi_term.js'%}"></script>
    <script src="{% static 'frontend/slaves.js'%}"></script>
{% endblock %}
