{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Clients {% endblock %}
{% block premain %}
{% endblock %}
{% block content %}


    <!-- Modal for deletion warnings used for slave and program deletion-->
    <div id="deleteWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deletion Warning!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type='button' class='btn btn-info' id='deleteSlaveModalButton'>OK</button>
                    <button type='button' class='btn btn-info' id='deleteProgramModalButton'>OK</button>
                    <button type='reset' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row ml-4 mr-4">
        <div class="col-sm-2">
            <div class="row input-group" role="group">
                <span class="col-sm-6 input-group-addon">Clients</span>
                <span class = "input-group-btn">
                    <button type="button" class="btn add-slave" data-toggle="tooltip" data-placement="top" title="Add client" style="background-color: transparent;">
                            <i class="mdi mdi-add"></i>
                    </button>
                </span>
            </div>

            <div class="row">
                <ul class="nav flex-column col" id="slave-tabs" role="tablist">
                    {% for slave in slaves %}
                        <li class="nav-item pt-2 pb-2 pr-4 pl-4" style="border-style: solid; border-width: 1px;">
                        <a class="nav-link {% if forloop.first %} active {% endif %}" id="{{ slave.id }}-tab" data-toggle="tab" href="#{{ slave.id }}-tab-content" role="tab">{{ slave.name  }}</a>
                        </li>
                    {% empty %}
                        <li class="nav-item pt-2 pb-2 pr-4 pl-4" style="border-style: solid; border-width: 1px;">
                        <a class="nav-link active" id="empty-tab" data-toggle="tab" href="#empty-tab-content" role="tab">None</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="container-fluid tab-content col" id="slaves-tabs-content">
            {% for slave in slaves %}
                <div class="tab-pane fade show {% if forloop.first %} active {% endif %}" id="{{ slave.id }}-tab-content" role="tabpanel">
                    {% slave_entry slave slave.program_set.all slave.file_set.all %}
                </div>
            {% empty %}
                <div class="tab-pane fade show active" id="empty-tab-content" role="tabpanel">
                    <div class="alert alert-info">
                        <strong>Info!</strong> No clients in system.
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% modal_form program_form "program" %}
    {% modal_form slave_form "slave" %}
    {% modal_form file_form "file" %}

{% endblock %}
{% block script %}
    <script src="{% static 'frontend/slaves.js'%}"></script>
{% endblock %}
