<div class="row-1 mb-2 pt-2 pb-2 pl-4 pr-4 fsim-box" data-state="{% if file.is_error %}error{% else %}success{% endif %}" id="fileStatusContainer_{{ file.id }}">
    <div class="row">
        <div class="file-name col mt-1 font-weight-bold">
            <i class="fsim-status-icon align-middle" id="fileStatusIcon_{{ file.id }}"></i>
            <span class="align-middle">{{ file.name }}</span>
        </div>

        <div class="btn-toolbar col d-flex justify-content-end" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" id="fileMoveRestore_{{ file.id }}" class="btn btn-outline-dark font-weight-light file-action-move"
                    data-file-id="{{ file.id }}" data-is-moved="{{ file.is_moved }}">
                    <i class="mdi mdi-power-settings-new"></i>
                    <i class="button-status-display">
                        {% if file.is_moved %}RESTORE{% else %}MOVE{% endif %}
                    </i>
                </button>

                <button type="button" class="btn btn-outline-dark file-action-modify font-weight-light" data-slave-id ="{{ file.slave.id }}" data-file-id="{{ file.id }}">
                    <i class="mdi mdi-pencil"></i> EDIT
                </button>

                <button type="button" class="btn btn-outline-dark file-action-delete font-weight-light" data-file-id="{{ file.id }}">
                    <i class="mdi mdi-delete"></i> DELETE
                </button>

                <button class="btn btn-outline-dark font-weight-light" id="fileCardButton_{{ file.id }}" type="button" data-toggle="collapse" data-target="#fileCard_{{ file.id }}" {% if not file.is_error %} disabled {% endif %}>
                    <i class="mdi mdi-dots-vertical"></i>
                    <i>MORE</i>
                </button>
            </div>
        </div>
    </div>

    <div class="collapse pl-4 pr-4 mt-2 row" id="fileCard_{{ file.id }}">
        {% if file.is_error %}
            {{ file.error_code }}
        {% endif %}
    </div>
</div>
