<div class="row">
    <div class="file-name col">
        <h5 class="mt-2">{{ file.name }}</h5>
    </div>

    <div class="btn-toolbar" role="toolbar">
        <div class="btn-group mr-4" role="group">
            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Status">
                <i class="mdi mdi-error-outline"></i>
            </button>
        </div>
        <div class="btn-group mr-2" role="group">
            <button type="button" class="btn btn-outline-danger modify-file-btn" data-slave-id ="{{ file.slave }}" data-file-id="{{ file.id }}" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="mdi mdi-edit"></i>Edit
            </button>

            <button type="button" class="btn btn-outline-danger delete_file" data-toggle="tooltip" data-placement="top" data-file-id="{{ file.id }}" title="Delete">
                <i class="mdi mdi-delete"></i>Delete
            </button>
        </div>
    </div>
</div>
