<div class="align-items-center list-group-item fsim-box" data-state="{{ filesystem.data_state }}" id="filesystemStatusContainer_{{ filesystem.id }}">
    <div class="d-xl-flex d-lg-flex d-md-flex d-sm-flex w-100 justify-content-between">
        <div class="filesystem-name mt-1 font-weight-bold">
            <span class="align-middle">{{ filesystem.name }}</span>
        </div>

        <div class="btn-toolbar d-flex justify-content-end" role="toolbar">
            <div class="btn-group xs-button-set" role="group">
                <button type="button" id="filesystemMoveRestore_{{ filesystem.id }}" class="btn btn-primary font-weight-light filesystem-action-move short-disable"
                    data-filesystem-id="{{ filesystem.id }}" data-is-moved="{{ filesystem.is_moved }}">
                    <i class="mdi mdi-swap-horizontal"></i>
                    <span class="button-status-display">
                        {% if filesystem.is_moved %}RESTORE{% else %}MOVE{% endif %}
                    </span>
                </button>

                <button type="button" class="btn btn-dark filesystem-action-modify font-weight-light" data-slave-id ="{{ filesystem.slave.id }}"
                    data-filesystem-id="{{ filesystem.id }}" data-filesystem-name="{{ filesystem.name }}" data-filesystem-source_path="{{ filesystem.source_path }}"
                    data-filesystem-destination_path="{{ filesystem.destination_path }}" data-filesystem-source_type="{{ filesystem.source_type }}" data-filesystem-destination_type="{{ filesystem.destination_type }}" >
                    <i class="mdi mdi-pencil"></i>
                    EDIT
                </button>

                <button type="button" class="btn btn-dark filesystem-action-delete font-weight-light" data-filesystem-id="{{ filesystem.id }}"
                    data-filesystem-name="{{ filesystem.name }}">
                    <i class="mdi mdi-delete"></i>
                    DELETE
                </button>

                <button class="btn btn-dark font-weight-light" id="filesystemCardButton_{{ filesystem.id }}" type="button" data-toggle="collapse"
                    data-target="#filesystemCard_{{ filesystem.id }}" {% if not filesystem.is_error %} disabled {% endif %}>
                    <i class="mdi mdi-dots-vertical"></i>
                    MORE
                </button>
            </div>
        </div>
    </div>

    <div class="collapse pl-4 pr-4 mt-2 row" id="filesystemCard_{{ filesystem.id }}">
        {% if filesystem.is_error %}
        {{ filesystem.error_code }}
        {% endif %}
    </div>
</div>
