<div class="row-1 mb-2 pt-2 pb-2 pl-4 pr-4 fsim-box" data-state="unkown">
    <div class="row">
        <div class="file-name col">
            <h5 class="mt-2">{{ file.name }}</h5>
        </div>

        <div class="btn-toolbar col d-flex justify-content-end" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-outline-dark file-action-modify font-weight-light" data-slave-id ="{{ file.slave }}" data-file-id="{{ file.id }}">
                    <i class="mdi mdi-edit"></i> EDIT
                </button>

                <button type="button" class="btn btn-outline-dark file-action-delete font-weight-light" data-file-id="{{ file.id }}">
                    <i class="mdi mdi-delete"></i> DELETE
                </button>
            </div>
        </div>
    </div>
</div>
