{% load widget_tweaks %}

<div class="modal fade" id="{{ prefix }}Modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <form id="{{ prefix }}Form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title text-uppercase"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body bg-light">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        <div class="d-flex w-100 justify-content-between">
                            <span class="font-weight-light text-uppercase">{{ field.label_tag }}</span>
                            {% if field.help_text %}
                            <a class="text-info mr-2" data-toggle="popover" data-container="body" data-content="{{ field.help_text|safe }}">
                                <i class="mdi mdi-information"></i>
                            </a>
                            {% endif %}
                        </div>
                        {% if form.is_bound %}
                            {% render_field field class="inset-shadow bg-white form-control is-valid" %}
                        {% else %}
                            {% render_field field class="inset-shadow bg-white form-control" %}
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info submit-btn text-uppercase"></button>
                    <button type="reset" class="btn btn-secondary text-uppercase" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
