{% load widget_tweaks %}

<div class="modal fade" id="{{ prefix }}Modal" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <form id="{{ prefix }}Form">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body bg-light">
                    {% csrf_token %}
                    {% for hidden_field in form.hidden_fields %}
                        {{ hidden_field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {% if form.is_bound %}
                            {% render_field field class="inset-shadow bg-white form-control is-valid" %}
                        {% else %}
                            {% render_field field class="inset-shadow bg-white form-control" %}
                        {% endif %}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-info submit-btn"></button>
                    <button type="reset" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </form>
    </div>
</div>
