
<div class="row-1 mb-2 pt-2 pb-2 pl-4 pr-4 fsim-box" data-state="{% if program.is_successful %}success{% elif program.is_error %}error{% elif program.is_running %}warning{% else %}unknown{% endif %}" id="programStatusContainer_{{ program.id }}">

    <div class="row">
        <div class="program-name col-4 mt-1 font-weight-bold">
            <i class="fsim-program-status-icon align-middle" id="programStatusIcon_{{ program.id }}">
            </i>
            <span class="align-middle">{{ program.name }}</span>
        </div>

        <div class="btn-toolbar col d-flex justify-content-end" role="toolbar">
            <div class="btn-group xs-button-set" role="group">
                <button type="button" id="programStartStop_{{ program.id }}" class="btn btn-outline-dark font-weight-light program-action-start-stop" data-program-id="{{ program.id }}" data-is-running="{{ program.is_running }}">
                    <i class="mdi mdi-power"></i>
                    <i class="button-status-display">
                        {% if program.is_running %}STOP{% else %}START{% endif %}
                    </i>
                </button>

                <button type="button" class="btn btn-outline-dark program-action-modify font-weight-light" data-program-id="{{ program.id }}" data-program-name="{{ program.name }}" data-slave-id="{{ program.slave.id }}" data-program-path="{{ program.path }}" data-program-arguments="{{ program.arguments }}" data-program-start-time="{{ program.start_time }}">
                    <i class="mdi mdi-pencil"></i>
                    <i>EDIT</i>
                </button>

                <button type="button" class="btn btn-outline-dark program-action-delete font-weight-light" data-program-id="{{ program.id }}" data-slave-id="{{ program.slave.id }}" data-program-name="{{ program.name }}">
                    <i class="mdi mdi-delete"></i>
                    <i>DELETE</i>
                </button>

                <button class="btn btn-outline-dark font-weight-light" id="programCardButton_{{ program.id }}" type="button" data-toggle="collapse" data-target="#programCard_{{ program.id }}" {% if not program.is_error %} disabled {% endif %}>
                    <i class="mdi mdi-dots-vertical"></i>
                    <i>MORE</i>
                </button>
            </div>
        </div>
    </div>

    <div class="collapse pl-4 pr-4 mt-2 row" id="programCard_{{ program.id }}">
        {% if program.is_error %}
            {{ program.programstatus.code }}
        {% endif %}
    </div>
</div>
