{% load components %}
    <div class="row pt-4 mb-4 pb-4 fsim-box" data-state="{% if slave.has_error %}error{% elif slave.has_running %}warning{% elif slave.is_online %}success{% else %}unkown{% endif %}" id="slaveStatusContainer_{{ slave.id }}">
        <div class="container-fluid">
            <div class="row">
                <div class="slave-name col">
                    <h5 class="mt-2">{{ slave.name }}</h5>
                </div>

                <div class="btn-toolbar col" role="toolbar">
                    <div class="btn-group mr-2" role="group">
                        <button type="button" id="slaveStartStop_{{ slave.id }}" data-slave-id="{{ slave.id }}" class="btn btn-outline-dark font-weight-light">
                            <i class="mdi mdi-power-settings-new"></i>
                            <i data-text-swap="{% if slave.is_online %}START{% else %}STOP{% endif %}">{% if slave.is_online %}STOP{% else %}START{% endif %}</i>
                        </button>
                    </div>

                    <div class="btn-group mr-2" role="group">
                        <button type="button" class="btn btn-outline-dark modify-slave font-weight-light" data-slave-id="{{ slave.id }}" data-slave-name="{{ slave.name }}" data-slave-ip="{{ slave.ip_address }}" data-slave-mac="{{ slave.mac_address }}">
                            <i class="mdi mdi-edit"></i> EDIT
                        </button>

                        <button type="button" class="btn btn-outline-dark delete-slave font-weight-light" data-slave-id="{{ slave.id }}" data-slave-name="{{ slave.name }}">
                            <i class="mdi mdi-delete"></i> DELETE
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col">
                    <p>
                        <span class="font-weight-bold">IP:</span>
                        <span class="slave-ip">{{ slave.ip_address }}</span>
                    </p>
                </div>
                <div class="col">
                    <p>
                        <span class="font-weight-bold">MAC:</span>
                        <span class="slave-mac">{{ slave.mac_address }}</span>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <ul class="nav nav-tabs row" id="slavesObjectsList{{ slave.id }}" role="tablist">
        <li class="nav-item">
            <a class="nav-link font-weight-bold active" id="slavesObjectsPrograms{{ slave.id }}" data-toggle="tab" href="#slavesObjectsProgramsContent{{ slave.id }}" role="tab" >
                <i class="mdi mdi-widgets"></i> PROGRAMS
                <button type="button" class="btn add-program inline-add-button" data-slave-id="{{ slave.id }}">
                    <i class="mdi mdi-add font-weight-bold"></i>
                </button>
            </a>
        </li>

        <li class="nav-item" >
            <a class="nav-link font-weight-bold" id="slavesObjectsFiles{{ slave.id }}" data-toggle="tab" href="#slavesObjectsFilesContent{{ slave.id }}" role="tab">
                <i class="mdi mdi-folder"></i> FILES
                <button type="button" class="btn add-file inline-add-button" data-slave-id="{{ slave.id }}">
                    <i class="mdi mdi-add font-weight-bold"></i>
                </button>
            </a>
        </li>
    </ul>

    <div class="tab-content row pb-4 fsim-box-bottom" id="slavesObjectsConent{{ slave.id }}">
        <div class="tab-pane fade show container-fluid mt-4 active" id="slavesObjectsProgramsContent{{ slave.id }}" role="tabpanel">
            {% for program in programs %}
                {% program_entry program %}
            {% empty %}
                <div>
                    <span class="background-text-normal">No programs registered</span>
                </div>
            {% endfor %}
        </div>

        <div class="tab-pane fade show container-fluid mt-4 " id="slavesObjectsFilesContent{{ slave.id }}" role="tabpanel">
            {% for file in files %}
                {% file_entry file %}
            {% empty %}
                <div>
                    <span class="background-text-normal">No files registered</span>
                </div>
            {% endfor %}
        </div>
    </div>