image:
- Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017

environment:
  matrix:
    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python34-x64"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"


install:
  - "%PYTHON%\\python.exe install.py"
  - choco install redis-64
  - redis-server --service-install
  - redis-server --service-start

build: off

cache:
  - C:\ProgramData\chocolatey\bin
  - C:\ProgramData\chocolatey\lib
  - $(PYTHON)\Scripts


test_script:
  - "%PYTHON%\\python.exe manage.py test"
