image:
- Visual Studio 2013
- Visual Studio 2015
- Visual Studio 2017

environment:
  matrix:
    - PYTHON: "C:\\Python34"
    - PYTHON: "C:\\Python35"
    - PYTHON: "C:\\Python36"
    - PYTHON: "C:\\Python34-x64"
    - PYTHON: "C:\\Python35-x64"
    - PYTHON: "C:\\Python36-x64"


install:
  - "%PYTHON%\\python.exe install.py"

build: off

cache:
  #- $(PYTHON)\lib\site-packages


test_script:
  - "%PYTHON%\\python.exe manage.py test"
