{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Downloads {% endblock %}
{% block premain %}
{% endblock %}
{% block content %}

<div class="ml-4 mr-4 max-height">
    {% for file in file_list %}
        {%  download_entry file %}
    {% empty %}
        <div class="tab-pane fade show active">
            <span class="background-text-large">
                No files to download
            </span>
            <br>
            <span class="background-text-normal">
                Place files in the download folder
            </span>
        </div>
    {% endfor %}
</div>

{% endblock %}
{% block script %}
{% endblock %}
