
{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Scripts {% endblock %}
{% block premain %}
<div id="deleteWarning" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Deletion Warning!</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type='button' class='btn btn-info' id='deleteScriptModalButton'>OK</button>
                <button type='reset' class='btn btn-danger' data-dismiss='modal'>Cancel</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row ml-4 mr-4">
    <div class="col-12 col-sm-12 col-md-3 col-xl-2 col-lg-3 mb-4">
        <div class="row-2">
            <div class="list-group flex-column col" id="scriptTabList" role="tablist">
                <a class="d-flex justify-content-between align-items-center list-group-item font-weight-bold" id="scripts_list">
                    <label for="scripts_list">
                        <font size="4">SCRIPTS</font>
                    </label>
                    <button type="button" class="btn  script-action-add bg-light">
                        <i class="mdi mdi-plus font-weight-bold"></i>
                    </button>
                </a>
                {% for script in scripts %}
                    <a class="d-flex justify-content-between align-items-center list-group-item list-group-item-action font-weight-bold fsim-box script-tab-link {% if forloop.first %} active {% endif %}"
                    data-state="unknown"
                        id="scriptTab{{ script.id }}" data-toggle="tab"  href="#scriptTabContent{{ script.id }}" data-script-id="{{ script.id }}">
                        <i class="mdi mdi-description"></i>
                        {{ script.name }}
                        <span class="badge badge-dark badge-pill">
                            <i class="mdi mdi-run"></i>{{ script.id }}
                            <i class="mdi mdi-alert"></i>{{ script.id }}</span>
                    </a>
                {% endfor %}
                </div>
        </div>
    </div>

    <div class="container-fluid tab-content col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9">
        <div class="tab-pane fade show" role="tabpanel"  id="scriptTabContentNew">
            <div class="btn-toolbar justify-content-end" role="toolbar">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-dark font-weight-light script-action-add-save" data-editor-id="new_script">
                        <i class="mdi mdi-check"></i> SAVE
                    </button>
                </div>
            </div>

            <div id="jsoneditor_new_script">
                <script>
                    newScript('new_script');
                </script>
            </div>
        </div>

        {% for script in scripts %}
            <div class="tab-pane fade show" id="scriptTabContent{{ script.id }}" role="tabpanel">
                {% script_entry script %}
            </div>
        {% empty %}
            <div class="tab-pane fade show active">
                <span class="background-text-large">No scripts created</span>
            </div>
        {% endfor %}
    </div>

</div>
{% endblock %}

{% block script %}
    {% script_js_templates %}

    <script src="{% static 'node/handlebars/dist/handlebars.min.js' %}"></script>
    <script src="{% static 'frontend/jsonforms.js'%}"></script>

    <script src="{% static 'frontend/base.js'%}"></script>
    <script src="{% static 'frontend/scripts.js'%}"></script>
{% endblock %}
