{% verbatim %}
<script id="templateEntry" type="text/x-handlebars-template">
    <div class="list-group-item flex-column align-items-start script-{{type}}-entry bg-light">
        <div class="d-flex w-100 justify-content-between">
            <div class="form-group d-flex slave-choice">
                <button class="btn btn-outline-light text-dark text-uppercase disabled">Client</button>
                <div>
                    <select class="form-control script-{{type}}-slave" type="text" required>
                        {{#each slaves}}
                        <option {{#ifEq ../currentSlave this}}selected{{/ifEq}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group d-flex slave-choice">
                <button class="btn btn-outline-light text-dark text-uppercase disabled">Index</button>
                <input class="form-control script-{{type}}-index" type="number" value="{{#if index}}{{index}}{{else}}0{{/if}}" required/>
            </div>
            <button class="btn script-{{type}}-remove btn-dark h-75" type="button">
                <i class="mdi mdi-delete"></i>
            </button>
        </div>
        <div class="d-flex w-100 justify-content-start">
            <div class="form-group d-flex {{type}}-choice">
                <button class="btn btn-outline-light text-dark text-uppercase disabled">{{type}}</button>
                <div>
                    <select class="form-control script-{{type}}-{{type}}" type="text" name="script-{{type}}" data-selected="{{#if currentSelects}}{{ currentSelects }}{{/if}}"
                        required>
                        {{#each selects}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="templateNoElement" type="text/x-handlebars-template">
    <div class="list-group-item slave-no-elements">
        <i class="text-uppercase font-weight-bold">No Clients with {{type}}s created.</i>
    </div>
</script>

<script id="templateContainer" type="text/x-handlebars-template">
    <div class="container-fluid list-group-flush">
        <div class="mb-4 pt-2">
            <div class="mb-4">
                <span class="text-uppercase font-weight-bold">edit script name</span>
                <input class="form-control script-name bg-white" placeholder="Script Name" type="text" {{#if name}}value="{{name}}"{{/if}} required/>
                <div class="invalid-feedback text-uppercase">Script name is required.</div>
            </div>
        </div>

        <div class="d-flex w-100 justify-content-between pl-2 pr-2 pt-2 pb-2 mb-1">
            <button type="button" class="btn btn-dark btn-sm script-program-add mr-2">
                <i class="mdi mdi-plus"></i>
            </button>
            <font size="4" class="text-uppercase font-weight-bold">Programs</font>
            <button type="button" class="btn btn-dark btn-sm script-program-hide mr-2 disabled">
                <i class="mdi mdi-chevron-up"></i>
            </button>
        </div>

        <div class="script-program-content row list-group mb-4">
        </div>

        <div class="d-flex w-100 justify-content-between pl-2 pr-2 pt-2 pb-2 mb-1">
            <button type="button" class="btn btn-dark btn-sm script-filesystem-add mr-2">
                <i class="mdi mdi-plus"></i>
            </button>
            <font size="4" class="text-uppercase font-weight-bold">Files</font>
            <button type="button" class="btn btn-dark btn-sm script-filesystem-hide mr-2 disabled">
                <i class="mdi mdi-chevron-up"></i>
            </button>
        </div>

        <div class="script-filesystem-content row list-group">
        </div>
    </div>
</script>
{% endverbatim %}
