{% verbatim %}
<script id="templateEntry" type="text/x-handlebars-template">
    <div class="list-group-item flex-column align-items-start script-{{type}}-entry bg-light">
        <div class="d-flex w-100">
            <div class="form-group slave-choice col-xl-10 col-lg-10 col-md-10 col-sm-10">
                <div>
                    <span class="font-weight-light">Client</span>
                    <select class="form-control script-{{type}}-slave" type="text" required>
                        {{#each slaves}}
                        <option {{#ifEq ../currentSlave this}}selected{{/ifEq}}>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <button class="btn script-{{type}}-remove btn-danger align-self-center mt-2 mr-3 ml-auto" type="button">
                <i class="mdi mdi-delete text-light"></i>
            </button>
        </div>
        <div class="d-flex w-100">
            <div class="form-group {{type}}-choice col-10">
                <div>
                    <span class="font-weight-light text-capitalize">{{type}}</span>
                    <select class="form-control script-{{type}}-{{type}}" type="text"
                    name="script-{{type}}" data-selected="{{#if currentSelects}}{{ currentSelects }}{{/if}}"
                        required>
                        {{#each selects}}
                        <option>{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <div class="form-group col-2">
                <span class="font-weight-light">Index</span>
                <input class="inset-shadow form-control script-{{type}}-index" type="number" value="{{#if index}}{{index}}{{else}}0{{/if}}"
                    required/>
            </div>
        </div>
    </div>
</script>

<script id="templateNoElement" type="text/x-handlebars-template">
    <div class="list-group-item slave-no-elements bg-light">
        <i class="background-text-normal">No Clients with {{type}}s created.</i>
    </div>
</script>

<script id="templateContainer" type="text/x-handlebars-template">
    <div class="container-fluid list-group-flush">
        <div class="mb-4 pt-2">
            <div class="mb-4">
                <span class="text-uppercase font-weight-bold">edit script name</span>
                <input class="inset-shadow form-control script-name" placeholder="Script Name" type="text" {{#if name}}value="{{name}}"{{/if}} required/>
                <div class="invalid-feedback text-uppercase">Script name is required.</div>
            </div>
        </div>

        <div class="d-flex w-100 justify-content-between align-items-center pl-2 pr-2 pt-2 pb-2 mb-1">
            <i class="mdi mdi-widgets mr-1"></i>
            <span class="text-uppercase font-weight-bold">programs</span>
            <button type="button" class="btn btn-dark btn-sm script-program-add ml-2">
                <i class="mdi mdi-plus"></i>
            </button>
            <button type="button" class="btn btn-dark btn-sm script-program-hide mr-2 ml-auto disabled">
                <i class="mdi mdi-chevron-up"></i>
            </button>
        </div>

        <div class="script-program-content row list-group mb-4">
        </div>

        <div class="d-flex w-100 justify-content-between align-items-center pl-2 pr-2 pt-2 pb-2 mb-1">
            <i class="mdi mdi-file-tree mr-1"></i>
            <span class="text-uppercase font-weight-bold">filesystems</span>
            <button type="button" class="btn btn-dark btn-sm script-filesystem-add ml-2">
                <i class="mdi mdi-plus"></i>
            </button>
            <button type="button" class="btn btn-dark btn-sm script-filesystem-hide mr-2 ml-auto disabled">
                <i class="mdi mdi-chevron-up"></i>
            </button>
        </div>

        <div class="script-filesystem-content row list-group">
        </div>
    </div>
</script>
{% endverbatim %}
