{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% load widget_tweaks %}
{% block title %} Scripts {% endblock %}
{% block premain %}
{% endblock %}
{% block content %}

<div class="ml-4 mr-4">
    {% if not script %}
    <div>
        <span class="background-text-large">No scripts running</span>
        <br>
        <span class="background-text-normal">click run on a <a class="text-info" href="/scripts">script</a></span>
    </div>
    {% else %}
    <div>
        <h4 class="font-weight-bold text-uppercase">CURRENT STATUS</h4>
        <ul class="list-group">
            <li class="btn list-group-item fsim-progress" id="runInit{{ script.id }}" data-state="{% if script.is_initialized %}done{% else %}none{% endif %}">
                <i class="mdi"></i>
                <i class="fsim-progress-name">Initial</i>
            </li>

            <li class="btn list-group-item container-fluid" data-target="#clientCollapse" data-toggle="collapse" id="runWaitSlaves{{ script.id }}" >
                <div id="waitSlavesIcon" class="fsim-progress" data-state="{% if script.is_initialized and script.is_running and script.current_index < 0 %}waiting{% elif script.current_index >= 0 %}done{% else %}{% if script.has_error %}error{% else %}none{% endif %}{% endif %}">
                    <i class="mdi"></i>
                    <i class="fsim-progress-name">Waiting for Clients</i>
                </div>

                <div id="clientCollapse" class="collapse {% if script.is_initialized and script.is_running and script.current_index < 0 %}show{% endif %} pl-4 pr-4 mt-2">
                    <div class="list-group rounded shadow" id="slaveTabList" role="tablist">

                    {% for slave in involved_slaves %}
                        <a class="d-flex  list-group-item font-weight-bold bg-light text-dark list-group-flush fade active show " data-state="{{ slave.data_state }}" id="slaveTab{{ slave.id }}" data-toggle="tab" href="#slaveTabContent{{ slave.id }}" data-slave-id="{{ slave.id }}">
                            <i>
                                <i class="mdi mdi-checkbox-blank-circle"></i>
                                <i class="fsim-slave-status-icon"></i>
                            </i>
                            <span>{{ slave.name }}</span>
                        </a>
                    {% endfor %}
                    </div>
                </div>

            </li>
            {% for stage in script.stages%}
                <li class="btn list-group-item fsim-progress" data-target="#stageCollapse{{ stage.index }}" data-toggle="collapse" id="runStage{{ stage.index }}" data-state="{% if script.current_index > stage.index %}done{% elif script.current_index == stage.index %}{% if script.has_error %}error{% else %}waiting{% endif %}{% else %}none{% endif %}"  >
                    <i class="mdi"></i>
                    <i class="fsim-progress-name">Stage {{ stage.index }}</i>

                    <div id="stageCollapse{{ stage.index }}" class="collapse {% if script.is_initialized and script.is_running and script.current_index == stage.index %}show{% endif %} pl-4 pr-4 mt-2">
                        {% for program in stage.programs %}

                            <div class="align-items-center list-group-item fsim-box" data-state="{{ program.data_state }}" id="programStatusContainer_{{ program.id }}">
                                <div class="d-xl-flex d-lg-flex d-md-flex d-sm-flex w-100 justify-content-between">
                                    <div class="program-name mt-1 font-weight-bold">
                                        <i class="fsim-program-status-icon align-middle" id="programStatusIcon_{{ program.id }}"></i>
                                        <span class="align-middle">{{ program.name }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for filesystem in stage.filesystems %}
                            <div class="align-items-center list-group-item fsim-box" data-state="{{ filesystem.data_state }}" id="filesystemStatusContainer_{{ filesystem.id }}">
                                <div class="d-xl-flex d-lg-flex d-md-flex d-sm-flex w-100 justify-content-between">
                                    <div class="filesystem-name mt-1 font-weight-bold">
                                        <i class="fsim-filesystem-status-icon align-middle" id="fileStatusIcon_{{ filesystem.id }}"></i>
                                        <span class="align-middle">{{ filesystem.name }}</span>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
            <li class="btn list-group-item fsim-progress" id="runDone{{ script.id }}" data-state="{% if script.is_initialized and not script.is_running and not script.has_error %}done{% elif script.has_error %}error{% else %}none{% endif %}">
                <i class="mdi"></i>
                <i class="fsim-progress-name">Finished</i>
            </li>

        </ul>

        <button type="button" class="container-fluid btn btn-danger navbar-btn short-disable text-uppercase script-action-stop" data-script-id="{{ script.id }}" {% if script.is_initialized and not script.is_running and not script.has_error %}disabled{% elif script.has_error %}disabled{% else %}{% endif %}>
            <i class="mdi mdi-play-arrow"></i>
            <i class="button-status-display font-weight-bold">
                STOP
            </i>
        </button>

    </div>
    {% endif %}
</div>
{% endblock %}

{% block script %}
<script src="{% static 'frontend/scripts_run.js'%}"></script>
{% endblock %}
