<div class="container-fluid bg-light list-group-item">
    <div class="d-flex w-100 justify-content-between">
        <div >
            <h5 class="mt-2"><nobr>{{ script.name }}</nobr></h5>
        </div>
        <div class="btn-toolbar justify-content-end" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button type="button" class="btn btn-info font-weight-light script-action-run short-disable" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}">
                    <i class="mdi mdi-run"></i> RUN
            </div>
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-dark font-weight-light script-action-save short-disable" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}"
                    data-editor-id="{{ script.id }}">
                    <i class="mdi mdi-check"></i> SAVE
                </button>

                <button type="button" class="btn btn-dark font-weight-light script-action-copy short-disable" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}">
                    <i class="mdi mdi-content-copy"></i> COPY
                </button>

                <button type="button" class="btn btn-dark font-weight-light script-action-delete" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}">
                    <i class="mdi mdi-delete"></i> DELETE
                </button>
            </div>
        </div>
    </div>
</div>

<div id="jsoneditor_{{ script.id }}" class="list-group-item bg-light">
    <script>
        loadScript({{ script.id }});
    </script>
</div>
