<div class="btn-toolbar justify-content-end" role="toolbar">
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-outline-dark font-weight-light script-action-delete" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}">
            <i class="mdi mdi-delete"></i> DELETE
        </button>

        <button type="button" class="btn btn-outline-dark font-weight-light script-action-save" data-script-id="{{ script.id }}" data-script-name="{{ script.name }}" data-editor-id="{{ script.id }}">
            <i class="mdi mdi-check"></i> SAVE
        </button>
    </div>
</div>

<div id="jsoneditor_{{ script.id }}">
    <script>
        loadScript({{ script.id }});
    </script>
</div>
