

{% extends "base/base.html" %}
{% load staticfiles %}
{% load components %}
{% block title %} Scripts {% endblock %}
{% block premain %}
{% endblock %}
{% block content %}
<div class="row ml-4 mr-4">
    {% for script in scripts %}
        <div class="row">
            {{ script.name }}

            <ol class="fsim-progressbar">
                <li class="fsim-progressbar-step">
                    <i class="mdi mdi-check ProgressBar-icon"></i>
                </li>
                <li class="fsim-progressbar-step">
                    <i class="mdi mdi-check ProgressBar-icon"></i>
                </li>
                    <i class="mdi mdi-check ProgressBar-icon"></i>
                </li>
                <li class="fsim-progressbar-step">
                    <i class="mdi mdi-check ProgressBar-icon"></i>
                </li>
            </ol>
        </div>
    {% empty %}
    <div class="row">
        <span class="background-text-large">No scripts added</span>
    </div>
    {% endfor %}

</div>
{% endblock %}

{% block script %}
    <script src="{% static 'frontend/base.js'%}"></script>
{% endblock %}