{% extends "base/base.html" %}
{% load staticfiles %}
{% block title %} Slaves {% endblock %}
{% block premain %} {% endblock %}
{% block content %}
<div class="jumbotron">
    <button type="button" data-toggle="modal" data-target="#registerSlaveModal">Slave hinzufügen</button>

    <div class="modal fade" id="registerSlaveModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form action="/api/add_slave/" id="slave_form">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <input class="button" type="submit" value="Speichern">
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <ul class="list-group">
        {% for slave in slaves %}
        <li class="list-group-item"> {{ slave.name }} {{ slave.ip_address }} {{ slave.mac_address }}</li>

        {% empty %}
        <li class="list-group-item disabled">No Slaves found.</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}

{% block script %}
<script>
    $(document).ready(function(){
        $("#slave_form").submit(function (event) {
            //Stop form from submitting normally
            event.preventDefault();

            //get data from form
            url = $(this).attr("action")
            name = $(this).find("input[name='name']").val();
            ip_address = $(this).find("input[name='ip_address']").val();
            mac_address = $(this).find("input[name='mac_address']").val();

            $.post(url
                ,{csrfmiddlewaretoken:'{{ csrf_token }}',name: name, ip_address: ip_address, mac_address: mac_address}
                ,function(err){
                    if($.isEmptyObject(err)){
                        window.location.reload();
                    } else {
                        alert(JSON.stringify(err));
                    }
                }
            );
        })

    })
</script>
{% endblock %}
