{% extends "base/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% block title %} Slaves {% endblock %} 
{% block premain %} {% endblock %}
{% block content %}
<div class="jumbotron">
    <div id="deleteSlaveWarning" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Deletion Warning!</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <a>Are you sure you want to delete clients </a>
                    <b id="deleteSlaveName" type="hidden"></b>
                    <a>?</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" id="deleteSlaveModalButton">OK</button>
                    <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="slaveModal" role="dialog">
        <div class="modal-dialog">
            <form id="slaveForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create/Modify Client</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        {% csrf_token %}
                        {% for hidden_field in form.hidden_fields %}
                            {{ hidden_field }}
                        {% endfor %}
                        {% for field in form.visible_fields %}
                        <div class="form-group">
                            {{ field.label_tag }} 
                            {% if form.is_bound %}
                                {% render_field field class="form-control is-valid" %} 
                            {% else %} 
                                {% render_field field class="form-control" %}
                            {% endif %}
                            {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info submit-btn"></button>
                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <h2>Clients:</h2>
    <div id="accordion" role="tablist">
        {% for slave in slaves %}
        <div class="card" id="{{ slave.id }}">
            <div class="card-header collapsed">
                <div class="row">
                    <div class="slave-name col">
                        <h2>{{ slave.name }}</h2>
                    </div>
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Status">
                                <i class="material-icons">error</i>
                            </button>
                        </div>

                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Start/Stop">
                                <i class="material-icons">power_settings_new</i>
                            </button>
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Restart">
                                <i class="material-icons">refresh</i>
                            </button>
                        </div>

                        <div class="btn-group mr-2" role="group">
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Delete File">
                                <i class="material-icons">signal_cellular_no_sim</i>
                            </button>
                            <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Copy File">
                                <i class="material-icons">insert_drive_file</i>
                            </button>
                        </div>

                        <div class="btn-group mr-4" role="group">
                            <button type="button" class="btn btn-info modify-slave-btn" data-toggle="tooltip" data-placement="top" title="Edit">
                                <i class="material-icons">edit</i>
                            </button>
                            <button type="button" class="btn btn-info delete_slave" data-toggle="tooltip" data-placement="top" title="Delete">
                                <i class="material-icons">delete</i>
                            </button>
                        </div>
                        <div class="btn-group mr-2" role="group" data-toggle="collapse" href="#collapse{{ slave.id }}">
                            <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="Show More" id="headingOne">
                                <i class="material-icons">expand_more</i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div id="collapse{{ slave.id }}" class="collapse" role="tabpanel">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4>IP:
                                <b class="slave-ip">{{ slave.ip_address }}</b>
                            </h4>
                        </div>
                        <div class="col">
                            <h4>MAC:
                                <b class="slave-mac">{{ slave.mac_address }}</b>
                            </h4>
                        </div>
                    </div>
                    <h4>Programs:</h4>
                    {% for program in slave.program_set.all %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="program-name col">
                                    <h2>{{ program.name }}</h2>
                                </div>
                                <div class="btn-toolbar" role="toolbar">
                                    <div class="btn-group mr-2" role="group">
                                        <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Status">
                                            <i class="material-icons">error</i>
                                        </button>
                                    </div>
                                    <div class="btn-group mr-2" role="group">
                                        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Start/Stop">
                                            <i class="material-icons">power_settings_new</i>
                                        </button>
                                        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Restart">
                                            <i class="material-icons">refresh</i>
                                        </button>
                                    </div>
                                    <div class="btn-group mr-2" role="group">
                                        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Edit">
                                            <i class="material-icons">edit</i>
                                        </button>
                                        <button type="button" class="btn btn-info" data-toggle="tooltip" data-placement="top" title="Delete">
                                            <i class="material-icons">delete</i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% empty %}
                    <div class="card">
                        <div class="alert alert-info">
                            <strong>Info!</strong> No programs for this client in system.
                        </div>
                    </div>
                    {% endfor %}
                    <button type="button" class="btn btn-info float-right mr-2 mt-2 mb-2" data-toggle="tooltip" data-placement="top" title="Add program">
                        <span>Program</span>
                        <i class="material-icons" style="font-size:30px; vertical-align: middle;">add</i>
                    </button>
                </div>
            </div>
        </div>
        {% empty %}
        <div class="card">
            <div class="alert alert-info">
                <strong>Info!</strong> No clients in system.
            </div>
        </div>
        {% endfor %}
        <button type="button" class="btn btn-info add-slave-btn float-right mt-2 mr-2" data-toggle="tooltip" data-placement="top"
            title="Add client">
            <span>Client</span>
            <i class="material-icons" style="font-size:30px; vertical-align: middle;">add</i>
        </button>
    </div>
</div>
{% endblock %} {% block script %}
<script>
    $(document).ready(function () {
        $(".delete_slave").click(function () {
            var id = $(this).parents(".card").attr("id");
            var name = $(this).parents(".card").children().find('.slave-name').text();
            $('#deleteSlaveWarning .modal-body #deleteSlaveName').text(name);
            $('#deleteSlaveWarning').data('slaveId', id);
            $('#deleteSlaveWarning').modal('toggle');
        });

        $('#deleteSlaveModalButton').click(function () {
            var id = $('#deleteSlaveWarning').data('slaveId');
            $.ajax({
                type: 'DELETE',
                url: '/api/slave/' + id,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
                },
                success: function (err) {
                    if ($.isEmptyObject(err)) {
                        window.location.reload();
                    } else {
                        throw_error(id, JSON.stringify(err));
                    }
                }
            })
        });

        // Error Display for Slave-Kontextmenu
        function throw_error(id, err) {
            $('#collapse' + id).append('<div class="alert alert-danger"><strong>Error!</strong> ' + err + '</div>');
        }

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        //opens the slaveModal to add a new slave
        $('.add-slave-btn').click(function () {
            slaveModal = $('#slaveModal');

            //modify the form for the submit button
            slaveForm = slaveModal.children().find('#slaveForm');
            slaveForm.attr('action', '/api/slaves');
            slaveForm.attr('method', 'POST');
            slaveForm.children().find('.submit-btn').text('Add');

            //clear input fields
            slaveForm.find("input[name='name']").val("");
            slaveForm.find("input[name='ip_address']").val("");
            slaveForm.find("input[name='mac_address']").val("");

            //clear errormessages
            slaveForm.find("div[class='invalid-feedback']").each(function (index, item) {
                item.remove();
            });
            slaveForm.find(".is-invalid").each(function (index, item) {
                $(item).removeClass("is-invalid");
            });

            slaveModal.modal('toggle');
        });

        //opens the slaveModal to modify an existing slave
        $('.modify-slave-btn').click(function () {
            //get info of slave
            var card = $(this).parents('.card');
            var id = card.attr("id");
            var name = card.children().find('.slave-name').text().trim();
            var ip = card.children().find('.slave-ip').text().trim();
            var mac = card.children().find('.slave-mac').text().trim();

            slaveModal = $('#slaveModal');

            //modify the form for the submit button
            slaveForm = slaveModal.children().find('#slaveForm');
            slaveForm.attr('action', '/api/slave/' + id);
            slaveForm.attr('method', 'PUT');
            slaveForm.children().find('.submit-btn').text('Edit');

            //insert values into input field
            slaveForm.find("input[name='name']").val(name);
            slaveForm.find("input[name='ip_address']").val(ip);
            slaveForm.find("input[name='mac_address']").val(mac);

            //clear errormessages
            slaveForm.find("div[class='invalid-feedback']").each(function (index, item) {
                item.remove();
            });
            slaveForm.find(".is-invalid").each(function (index, item) {
                $(item).removeClass("is-invalid");
            });

            //open modal
            slaveModal.modal('toggle');
        });

        // Form Handler
        $('#slaveForm').submit(function (event) {
            //Stop form from submitting normally
            event.preventDefault();

            //send request to given url and with given method
            //data field contains information about the slave
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: {
                    name: $(this).find("input[name='name']").val(),
                    ip_address: $(this).find("input[name='ip_address']").val(),
                    mac_address: $(this).find("input[name='mac_address']").val()
                },
                beforeSend: function (xhr) {
                    xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
                },
                success: function (err) {
                    if ($.isEmptyObject(err)) {
                        window.location.reload();
                    } else {
                        $("#slaveForm").find("div[class='invalid-feedback']").each(function (index, item) {
                            item.remove();
                        });

                        $("#slaveForm").find(".is-invalid").each(function (index, item) {
                            $(item).removeClass("is-invalid");
                        });

                        $.each(err, function (id, msg) {
                            node = $("#slaveForm").find("input[name=" + id + "]");
                            node.addClass("is-invalid");
                            node.parent().append('<div class="invalid-feedback">' + msg + '</div>');
                        });
                    }
                }
            });
        })
    });
</script> 
{% endblock %}